:root {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  color: #222222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #a23c32;
  --secondary-color: #f9f5f3;
  --accent-color: #832c26;
  --text-color: #212121;
  --link-color: #a23c32;
  --hover-color: #832c26;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--hover-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}
